html, body{
    background-image: url("Images/burger-hero.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #3b8200;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.header, .nav h1{
    background-color: #B07357;
}

.logo{
    height: 100px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav h1{
    padding: 20px;
    margin: 0;
}

.nav h1, .motto{
    color: #FFC04B;
    font-size: 2em;
    transition: background-color .3s;
}

.nav a{
    text-decoration: none;
}

.nav h1:hover{
    background-color: white;
}

.motto{
    padding-top: 0;
    padding-bottom: 10px;
    margin: 0;
}

.motto, .about, .pageTitle {
    text-align: center;
}

.about, .foodMenu{
    border-radius: 5px;
    width: 75%;
    margin: auto;
}

.about{
    background-color: #FFC04B;
    color: #FF002F;
}

.info .promo{
    color: #FF002F;
}

.menuContainer{
    display: flex;
    padding: 20px;
}

.foodMenu{
    background-color: #FFC04B;
    color: #FF002F;
}

.pageTitle{
    font-size: 3em;
}

.itemContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.subMenu, .toppings h2{
    text-decoration: underline;
    margin: 0 auto;
    text-align: center;
}

.toppingList{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.myform {
    border-radius: 5px;
    background-color: #B07357;
    padding: 0 20px 0 20px;
    width: 25%;
    margin: auto;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.form-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.jobForm{
    padding: 5px;
    font-size: 12px;
}

#availability{
    display: flex;
    flex-direction: column;
}

input:required:valid{
    border: solid green 2px;
}

input:required:invalid{
    border:1px solid red;
}

input:not([type=checkbox]):not([type=radio],select,textarea){
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

@media screen and (max-width: 800px){
    .myform{
        width: auto;
    }
    .form-group{
        flex-direction: column;
        align-items: flex-start;
    }
    .form-group label{
        padding-bottom: 5px;
    }
}