html, body{
    background-image: url("Images/burger-hero.jpg");
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.header{
    background-color: red;
}

.logo{
    height: 100px;

}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.motto{
    text-align: center;
}

.about{
    background-color: yellow;
}

.info{
    color: brown;
}

.promo{
    color: red;
    text-align: center;
}

.foodMenu{
    background-color: forestgreen;

}

.menuTitle{
    font-size: 50px;
}

.subMenu{
    display: flex;
    text-decoration: underline;
    justify-content: space-between;

}

p{
    : 10px;

}

.myform {
    border-radius: 5px;
    background-color: lightgrey;
    padding: 20px;
    width: 25%;
    margin: auto;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.form-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.jobForm{
    padding: 5px;
    font-size: 12px;
}

input:required:valid{
    border: solid green 2px;
}

input:required:invalid{
    border:1px solid red;
}

input:not([type=checkbox]):not([type=radio],select,textarea){
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

@media screen and (max-width: 800px){
    .myform{
        width: auto;
    }
    .form-group{
        flex-direction: column;
        align-items: flex-start;
    }
    .form-group label{
        padding-bottom: 5px;
    }
}